<% var js_include = ['select_lifting_ajax.js']; %>
<% include header %>

<h3>Lifting</h3>
<% if(rs.length > 0) { %>
Please choose somebody from the dropdown menu or choose one of the other options.
<br /><a href="/person/lifting/create">Add</a>
<form id="ajax_form_lifting" method="get" action="/person/lifting">
    <label for="personid">People</label>
    <select id="personid" name="personid">
        <option value=""><!-- intentionally left blank --></option>
        <% for (var i=0; rs.length > i; i++) { %>
        <option value="<%= rs[i].ID %>">
            <%= rs[i].FirstAndLastName %>
        </option>
        <% } %>
    </select>
</form>
<% } else { %>
The table does not contain any records.
<% } %>
<br />
<div id="output" style="display:none;"></div>

<% include footer %>
