<% var js_include = ['select_person_ajax.js']; %>
<% include header %>


<% if(rs.length > 0) { %>
<h3>Cardio</h3>
Please choose somebody from the dropdown menu.
<br /><a href="/person/cardio/total">Total Minutes Doing Cardio</a>
<a href="/person/cardio/create">Add</a>
<form id="ajax_form_person" method="get" action="/person/cardio">
    <label for="personid">People</label>
    <select id="personid" name="personid">
        <option value=""><!-- intentionally left blank --></option>
        <% for (var i=0; rs.length > i; i++) { %>
        <option value="<%= rs[i].ID %>">
            <%= rs[i].FirstAndLastName %>
        </option>
        <% } %>
    </select>
</form>
<% } else { %>
The table does not contain any records.
<% } %>
<br />
<div id="output" style="display:none;"></div>

<% include footer %>
