body {
    background-color: #404040;
}

button {
    float: center;
    background-color: #0077b7;
    bordewr: #0077b7;
    width: 100%;
    max-width: 120px;
    height: 2em;
    margin: 2px;
}

.back {
    float: center;
    background-color: red;
    bordewr: #0077b7;
    width: 100%;
    max-width: 150px;
    height: 3em;
    margin: 2px;
}

h1 {
    color: #0077b7;
    display: inline;
}
